.about-me {
    margin-top: 104px;
    margin-bottom: 91px;
    padding-top: 120px;
    padding-bottom: 107px;
    background-color: #F6F6F6;
}

.about-me-text {
    text-align: center;
}

.about-me-title {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
}

.about-me-subtitles {
    max-width: 485px;
    margin-right: 230px;
    margin-left: 230px;
}

.about-me-subtitles p {
    margin-bottom: 35px;
}

.about-me-subtitles p:last-child {
    margin-bottom: 0;
}

@media (max-width: 991px) {
    .about-me-title {
        margin-bottom: 29px;
    }

    .about-me-subtitles {
        width: 316px;
        margin-right: auto;
        margin-left: auto;
    }
}