.skills {
    margin-top: 91px;
    margin-bottom: 110px;
}

.skills-text {
text-align: center;
}

.skills-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 69px;
}

.skills-subtitle {
    margin-bottom: 87px;
}


